rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAllowedDomain(email) {
      return (
        email.matches(".*@arthur-loyd[.]fr") ||
        email.matches(".*@arthurloydbretagne[.]fr") ||
        email in ["photos.pers@gmail.com", "rodrigue.pers29@gmail.com"]
      );
    }

    // Règles spécifiques pour les templates de newsletter
    match /newsletter_templates/{templateId} {
      allow read: if true;
      allow write: if request.auth != null && isAllowedDomain(request.auth.token.email);
    }

    // Règles spécifiques pour la collection unsubscribed
    match /unsubscribed/{document} {
      allow read, write: if true; // Permet l'accès sans authentification pour la désinscription
    }

    // Règle par défaut pour les autres collections
    match /{document=**} {
      allow read: if true;
      allow write: if request.auth != null && isAllowedDomain(request.auth.token.email);
    }

    match /tasks/{taskId} {
      allow read: if request.auth != null;
      allow create: if request.auth != null;
      allow update: if request.auth != null;
      allow delete: if request.auth != null;
    }
  }
} 